button {
  width: 75%;
  height: 40px;
  margin: 5px auto;
  alignment: center;
  text-align: center;
  border-radius: 33px;
  -moz-border-radius: 33px;
  -webkit-border-radius: 33px;
  padding: 2px 15px;
}

.profile-panel__follow {
  color: white;
  background: $primary;
  border: 1px solid $primary;
}

.profile-panel__connect {
  color: $primary;
  background: #fff;
  border: 1px solid $primary;
  margin-bottom: 15px;
}


.profile-panel__social-data {
  width: 50%;
  float: left;
  font-size: 10px;
}

.profile-panel__social-data.left-border {
  border-right: solid 1px $light-gray;
}


.profile-panel__social-links {
  color: $gray;
  font-size: 10px;
  width: 90%;
  float: left;
  font-weight: lighter;
}

.title {
  color: $gray;
  font-weight: lighter;
}

.amount {
  font-weight: bold;
}

.location {
  color: $gray;
  font-weight: lighter;

}