
/*  */

button {
  width: 75%;
  height: 40px;
  margin: 5px auto;
  alignment: center;
  text-align: center;
  border-radius: 33px;
  -moz-border-radius: 33px;
  -webkit-border-radius: 33px;
  padding: 2px 15px;
  font-weight: lighter;
}

.profile-panel__follow {
  color: white;
  background: $primary;
  border: 1px solid $primary;
}

.profile-panel__connect {
  color: $primary;
  background: #fff;
  border: 1px solid $primary;
  margin-bottom: 15px;
}

.block--profile-panel {
  margin-bottom: 400px;
}

.profile-panel__social-data {
  width: 50%;
  float: left;
  font-size: 12px;
}

.profile-panel__social-data.left-border {
  border-right: solid 1px $light-gray;
}


.profile-panel__social-links {
  margin: 0;
  padding: 10px 15px;
  border-top: solid 1px $light-gray;
  color: $gray;
  font-size: 10px;
  width: 100%;
  float: left;
  font-weight: lighter;
  list-style: none;
  text-align: left;
}

.profile-panel__social-links a {
  color: $gray;
  padding: 5px;
}

.profile-panel__social-links li {
  padding-bottom: 10px;
}

.title {
  color: $gray;
  font-weight: lighter;
  margin-top: 3px;
}

.amount {
  font-weight: bold;
  margin-bottom: 0;
}

.location {
  color: $gray;
  font-weight: lighter;
}

button.circle {
  height: 23px;
  width: 23px;
  display: inline-block;
  position: relative;
  margin: 15px;
  float: right;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  padding: 5px;
  font-weight: lighter;
  border: 1px solid $black;
  background: white;
}

button.circle + .circle {
  margin-right: 5px;
}

button.circle, .circle {
  margin-left: 0;
}

h5 {
  margin: 20px;
  font-size: 14px;
  font-weight: normal;
}

.article--content {
  border-top: 1px solid $light-gray;
  height: 100%;
}

.topic {
  float: left;
  width: 33.3333%;
  padding: 20px;
}


.topic--left {
  padding-right: 0;
}

.topic--mid {
  padding: 20px 10px;
}

.topic--right {
  padding-left: 0;
}

.post-pic {
  background: $purple;
  height: 133.328px;
  width: 133.328px;
}