/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  color: $black;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  background: $bg-color;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.block {
  background: #fff;
  position: relative;
  width: $quarter-col;
  float: left;
  margin: 10px;
}

.block--half-col {
  width: $half-col;
}

.block.block--right {
  float: right;
}

.name {
  text-align: center;
}

.title {
  text-align: center;
}


.location {
  text-align: center;
}


.text-center {
  text-align: center;
}

hr {
  margin: 0;
  border: none;
  height: 1px;
  color: $light-gray;
  background-color: $light-gray;
}