/* apply a natural box layout model to all elements, but allowing components to change */


html {
  box-sizing: border-box;
  color: $black;
  font-size: 12px;
}


*, *:before, *:after {
  box-sizing: inherit;
}


body{
  margin: 0;
  padding: 0;
  background: $bg-color;
}




.container {
  max-width: 970px;
  position: relative;
   margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}




.container:before, .container:after {
  content: " ";
  display: table;
  clear: both;
}




.block {
  background: #fff;
  position: relative;
  width: $quarter-col;
  float: left;
  margin: 10px;
}




.block--half-col {
  width: $half-col;
}





.right {
  float: right;
}

.text-center {
  text-align: center;
}







/*                     GENERAL TAGS                   */

a {
  color: $primary;
  text-decoration: none;
}









/*                     BORDERS                   */

.border-top {
  border-top: $border;
}

.border-right {
  border-right: $border;
}

.border-bottom {
  border-bottom: $border;
}

.border-left {
  border-left: $border;
}

hr {
  margin: 0;
  border: none;
  height: 1px;
  color: $light-gray;
  background-color: $light-gray;
}






