/* apply a natural box layout model to all elements, but allowing components to change */


html {
  box-sizing: border-box;
  color: $black;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  background: $bg-color;
}


main {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
  padding: 20px 10px;
}

main:before, main:after {
  content: " ";
  display: table;
  clear: both;
}




/*            COLUMNS               */

.col {
  position: relative;
  float: left;
}

section.col {
  padding: 0 10px;
}

header, div.col {
  margin: 0;
  padding: 0;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}










/*             UTILITIES              */


.right {
  float: right;
}

.text-center {
  text-align: center;
}







/*                     GENERAL TAGS                   */

a {
  color: $primary;
  text-decoration: none;
}









/*                     BORDERS                   */

.border-top {
  border-top: $border;
}

.border-right {
  border-right: $border;
}

.border-bottom {
  border-bottom: $border;
}

.border-left {
  border-left: $border;
}

hr {
  margin: 0;
  border: none;
  height: 1px;
  color: $light-gray;
  background-color: $light-gray;
}
