header {
  background-color: white;
  display: block;
  min-height: 100%;
  position: relative;
  top: 0;
  margin: 0 auto;
}

nav {
  border-left: $border;
  border-right: $border;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  position: relative;
  display: table;
}



.search {
  position: relative;
}

.search input {
  text-indent: 5px;
  border-radius: 12px;
  border: solid 1px $light-gray;
  padding: 5px;
  height: 30px;
  max-width: 135px;
}

.search .fa-search {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 13px;
  color: $black;
}





/*             NAVIGATION ( TOP / BOTTOM )             */

.top-navigation {
  padding-left: 0;
  margin: 0;
}

.top-navigation li {
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
}

.top-navigation li a {
  color: $black;
}


.bottom-navigation {
  padding-left: 0;
  margin: 0;
}

.bottom-navigation li {
  font-weight: lighter;
  list-style: none;
  display: inline-block;
  margin: 0;
}

.bottom-navigation li a {
  color: $gray;
  padding: 8px 20px;
}

.bottom-navigation li a.active-tab {
  border-bottom: solid 2px $primary;
  color: $black;
}

.less-height {
  height: 34px;
  padding: 10px 14px;
}







