nav {
  background-color: white;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  position: relative;
  display: table;
}

.fa-linkedin-square {
  color: $primary;
}

.col {
  padding: 10px;
  text-align: center;
  margin: 0;
  float: left;
  height: 50px;
}


.twelfth {
  width: 8.333%;
}


.sixth {
  width: 16.666%;
}

.half {
  width: 50%;
}

.search {
  position: relative;
}

.search input {
  text-indent: 5px;
  border-radius: 12px;
  border: solid 1px $light-gray;
  padding: 5px;
}

.search .fa-search {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 13px;
  color: $black;
}

.top-navigation {
  padding-left: 0;
  margin: 0;
}

.top-navigation li {
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
}


.fa-comment {
  color: $green;
}

.fa-bell {
  color: $orange;
}

.fa-user-plus {
  color: $purple;
}


.fa-3x {
  font-size: 1.375em;
}

.fa-2x {
  font-size: 2.3335em;
}
