.fa-linkedin-square {
  color: $primary;
}



.col {
  padding: 10px;
  text-align: center;
  margin: 0;
  float: left;

}


.twelfth {
  width: 8.333%;

}


.sixth {
  width: 16.666%;

}

.half {
  width: 50%;
}

nav {
  background-color: white;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
}

.search {
  position: relative;

}

.search input {
  text-indent: 5px;
  border-radius: 12px;
  border: solid 1px $gray;
  padding: 5px;
}

.search .fa-search {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 13px;
}
