// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----

$half-col: 460px;
$quarter-col: 220px;

$primary: #38B7EA;
$bg-color: #F5F8F9;
$black: #42484C;
$dark-gray: #60686E;
$gray: #A5A8AB;
$light-gray: #F0F2F4;
$green: #62BC6F;
$orange: #FBAB4A;
$purple: #CD7FE2;

$border: solid 1px $light-gray;